.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1280px;
  margin-top: 3em;
  margin-bottom: 2em;
}

.title {
  margin: 1em 0;
  color: var(--principal-color);
}

.subtitle {
  color: var(--secudario-color);
  margin: 1em 0;
}

.espacio {
  margin-bottom: 2em;
}

.title {
  margin-bottom: 5px;
}